:root {
    --color-blue-moon: #003366;     
    --color-bg-blue: #F0F4F8;       
    --color-light-almond: #F8F4E3;  
    --color-primary-vanilla: #FBE8A6;
    --color-black: #000000;
    --color-dark-gray: #262424;
    --color-teal: #4C9DB0;
    --color-teal-opacity: rgba(76, 157, 176, 0.85);
    --color-light-gray-1: #C9C9C9;
    --color-light-gray-2: #CCCCCC;
    --color-light-gray-3: #F3F2F2;
    --gradiente-1: linear-gradient(180deg, #F2F2F2 65.38%, rgba(242, 242, 242, 0.10) 100%);

  }
  